* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    font-family: Verdana;
    font-size: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/* BUTTONS */
.btn-warning {
    background-color: rgba(251, 162, 0, 0.20);
    border: 1px;
    border-style: solid;
    border-color: orange;
}

.btn-danger {
    background-color: rgba(255, 0, 0, 0.20);
    border: 1px;
    border-style: solid;
    border-color: red;
}

.btn-primary {
    background-color: rgba(0, 0, 255, 0.20);
    border: 1px;
    border-style: solid;
    border-color: blue;
}

.btn-block {
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
}

    .btn-block:hover {
        background-color: rgba(0, 0, 0, 0.55);
        color: white;
    }

/* LOGIN SCREEN */
.log-in {
    background-image: url(../Content/Images/image1.jpg);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: solid;
    border-color: white;
    border-width: 2px;
    text-align: center;
}

.title {
    padding-top: 0.5em;
}

.btn-log-in {
    padding-bottom: 0.5em;
}

/* JUMBOTRON */
.jumbotron {
    background-image: url(../Content/Images/image1.jpg);
    color: black;
    font-size: 1.0em;
    font-weight: bold;
    border: solid;
    border-color: white;
    border-width: 2px;
    margin-top: 15%;
    margin-bottom: 10%;
}

    .jumbotron h1 {
        color: white;
        font-size: 3.0em;
        font-weight: bold;
    }

    .jumbotron h2 {
        color: white;
        font-style: italic;
    }

.navbar {
    background-image: url(../Content/Images/image1.jpg);
    color: black;
}

.row {
    width: 100%;
}

    .row button {
        background-image: url(../Content/Images/image1.jpg);
        border: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 5%;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

        .row button:hover {
            background-color: rgba(0, 0, 0, 0.55);
            color: white;
        }

/*        .row button:active {
            color: green;
        }

        .row button:link {
            color: yellow;
        }

        .row button:visited {
            color: cyan;
        }*/

/* TABLES */
.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        background-color: #3d7dd7;
        color: black;
        font-size: 1.0em;
        font-weight: bold;
        font-style: italic;
    }

        .table th a:link {
            color: black;
        }

        .table th a:visited {
            color: black;
        }

         .table th a:hover {
            color: lightblue;
        }

    .table td {
        padding: 7px;
    }

    /* minimale support voor IE8 en lager */
    .table tr {
        background: #b8d1f3;
    }

        /*  instellen achtergrondkleur voor alle ONEVEN rijen  */
        .table tr:nth-child(odd) {
            background: #b8d1f3;
        }

        /*  instellen achtergrondkleur voor alle EVEN rijen  */
        .table tr:nth-child(even) {
            background: #dae5f4;
        }

/* FORMS */
/* CREATE, EDIT en DELETE FORM */
.form-horizontal {
    background-color: rgba(81, 134, 219, 0.25);
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2%;
    width: 60%;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

    .form-horizontal h4 {
        font-size: 2em;
        color: black;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .form-horizontal p {
        font-size: 1em;
        color: red;
        font-weight: bold;        
    }

.col-md-5 {
    margin-left: 2em;
    font-weight: bold;
    text-align: right;
}

.col-md-6 {
    font-weight: bold;
}

.returnlink {
    text-align: center;
}

/* COPYRIGHT FOOTER */
.footer {
    margin-top: 20em;
    text-align: center;
}
